<nav class="top-navbar">

  <%= render '/partials/back_button', { url: :back } %>

  <%= link_to contact_path(@contact) do %>
      <button id="myBtn" type="button" class="nav-btn fifth-width nav-right transparant">
        <i class="glyphicon glyphicon-ok btn-block gray"></i>
      </button>
  <% end %>
</nav>

<section class="form_margin">

    <%= form_for @contact, html: { id: "myForm" } do |c| %>
        <%= c.text_field :first_name, :placeholder => "First Name" %>
        <%= c.text_field :last_name, :placeholder => "Last name" %>
      <%= c.text_field :phone_number1, :placeholder => "Phone number" %>
      <%= c.date_select :birthday %>
      <%= c.text_field :address, :placeholder => "Address" %>
      <%= c.text_field :website, :placeholder => "Website" %>
      <%= c.text_area :notes, :placeholder => "Notes" %>
    <% end %>

</section>

<script>$(document).ready(function() {
    $('#myBtn').on('click', function() { $('#myForm').submit(); });
});</script>

