


<%= form_for(@contact) do |f| %>

    <div class="field">
      <%= f.text_field :first_name, :placeholder => "First name" %><br>
    </div>

      <%= f.fields_for :company do |c| %>
        <%= c.text_field :name, :placeholder => "Company" %>
      <% end %>

    <div class="actions">
      <%= f.submit "Create" %>
    </div>
<% end %>